<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{GAME_TITLE}}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <style type="text/css">
            body, html { margin: 0; overflow: hidden; height: 100%; background-color: black; }
        </style>
    </head>
    <body>
        <script src="phaser.min.js"></script>
        <script src="game.min.js?build-timestamp={{BUILD_TIMESTAMP}}"></script>
    </body>
</html>
